---
[Unit]
Description=Tomcat webs servlet container
After=network.target

[Service]
Type=forking

User=tomcat
Group=tomcat
RestartSec=10
Restart=always 
Environment="JAVA_HOME=/usr/lib/jvm/java-1.17.0-openjdk-amd64"
Environment="JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom"

Environment="CATALINA_BASE=/opt/tomcat/apache-tomcat-10.1.33"
Environment="CATALINA_HOME=/opt/tomcat/apache-tomcat-10.1.33"
Environment="CATALINA_PID=/opt/tomcat/apache-tomcat-10.1.33/temp/tomcat.pid"
Environment="CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC"

ExecStart=/opt/tomcat/apache-tomcat-10.1.33/bin/startup.sh
ExecStop=/opt/tomcat/apache-tomcat-10.1.33/bin/shutdown.sh

[Install]
WantedBy=multi-user.target